<div class="row" id="wrapper">
  <div id="sidewrapper">
    <div class="menu">
      <p>Your ID: <%= current_user.name %></p>
      <%= link_to "ログアウト", logout_path, method: :delete %>
    </div>
    <p>Online Users</p>
    <div id="onlineusers">
      <%= render(partial: 'users/onlineuser', collection: @onlineusers) %>
      <!-- オンラインのユーザ一覧 -->
    </div>
    <p>All Users</p>
    <div id="allusers">
      <!-- すべてのユーザ -->
      <%= render @users %>
    </div>
  </div>
  <div id="chat" data-user-name="<%= current_user.name %>">
    <!-- チャットフォーム -->
    <div id="back"><!-- 背景用 --></div>

  </div>
</div>
<%= javascript_include_tag "cable.js" %>
<%= javascript_include_tag "channels/room.js" %>
<%= javascript_include_tag "channels/appearance.js" %>
